html, body {
    height: 100%; /* Ensure both html and body cover the full height of the viewport */
    margin: 0;
    padding: 0;
    background: radial-gradient(rgb(0, 122, 204), rgb(0, 82, 204));
    overflow-x: hidden;
    overflow-y: auto;
    background-size: contain;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overscroll-behavior-y: none;
}


  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  @keyframes pan {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
  }

  #app {
    height: 100vh;
    /*overflow: hidden; */
    position: relative;
  }

  #star-container {
    background: radial-gradient(rgb(0, 122, 204), rgb(0, 82, 204));
    min-height: 100%;
    height: max-content;
    
    /*overflow: hidden;*/
    position: relative;
  }


  #star-pattern {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Kubernetes_logo_without_workmark.svg/2109px-Kubernetes_logo_without_workmark.svg.png");
    background-size: 10%;
    position: absolute;
    left: 50%;
    top: 0px;
    translate: -50% 0%;
    z-index: 1;
    height: 100%;
    width: 100%;
    min-width: 1200px;
    opacity: 0.10;
    animation: pan 180s linear infinite;
    will-change: background-position;
  }

  #star-gradient-overlay {
    background: radial-gradient(circle, transparent 75%, rgb(var(--dark-gold-rgb)));
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: 2;
  }

  #stripe-container {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 0px;
    translate: -50% 0%;
    height: 28vh;
    min-height: 240px;
    width: 100%;
    min-width: 2000px;
    background-color: rgb(var(--stripe-primary-rgb));

    clip-path: polygon(
      0% 5%, 1.25% 0%, 2.5% 5%,
      3.75% 0%, 5% 5%, 6.25% 0%,
      7.5% 5%, 8.75% 0%, 10% 5%,
      11.25% 0%, 12.5% 5%, 13.75% 0%,
      15% 5%, 16.25% 0%, 17.5% 5%,
      18.75% 0%, 20% 5%, 21.25% 0%,
      22.5% 5%, 23.75% 0%, 25% 5%,
      26.25% 0%, 27.5% 5%, 28.75% 0%,
      30% 5%, 31.25% 0%, 32.5% 5%,
      33.75% 0%, 35% 5%, 36.25% 0%,
      37.5% 5%, 38.75% 0%, 40% 5%,
      41.25% 0%, 42.5% 5%, 43.75% 0%,
      45% 5%, 46.25% 0%, 47.5% 5%,
      48.75% 0%, 50% 5%, 51.25% 0%,
      52.5% 5%, 53.75% 0%, 55% 5%,
      56.25% 0%, 57.5% 5%, 58.75% 0%,
      60% 5%, 61.25% 0%, 62.5% 5%,
      63.75% 0%, 65% 5%, 66.25% 0%,
      67.5% 5%, 68.75% 0%, 70% 5%,
      71.25% 0%, 72.5% 5%, 73.75% 0%,
      75% 5%, 76.25% 0%, 77.5% 5%,
      78.75% 0%, 80% 5%, 81.25% 0%,
      82.5% 5%, 83.75% 0%, 85% 5%,
      86.25% 0%, 87.5% 5%, 88.75% 0%,
      90% 5%, 91.25% 0%, 92.5% 5%,
      93.75% 0%, 95% 5%, 96.25% 0%,
      97.5% 5%, 98.75% 0%, 100% 5%,
      100% 100%, 0% 100%
    );
  }

  header, main, footer, section, nav, article {
    position: relative; /* Ensure these elements are above the background layers */
    z-index: 10; /* Higher than your background layers */
}

header {
    color: white; /* Change as necessary to fit your design */
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background for better readability */
    padding: 1rem;
}

nav ul {
    padding: 0;
    text-align: center; /* Center navigation links */
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

main {
    width: 70%; /* Adjust width as needed */
    margin: 20px auto; /* Center the main content horizontally and add space */
    background: rgba(255, 255, 255, 0.8); /* Light background for the content area */
    padding: 20px; /* Space inside the content area */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Optional: adds depth */
}

article {
    margin-bottom: 20px; /* Space between articles */
}

article h2 {
    color: #003366; /* Dark blue, change as needed */
}

article p {
    font-size: 1rem;
    color: #333; /* Dark grey for text, ensuring it is readable */
}



form {
    background: white; /* Ensures form is readable */
    padding: 20px;
    border-radius: 8px; /* Optional: rounded corners */
}

input[type="text"], input[type="email"], textarea {
    width: 100%; /* Full-width inputs */
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px; /* Space between form elements */
    border: 1px solid #ccc;
    border-radius: 4px; /* Rounded borders for inputs */
}

button {
    background-color: #0044cc; /* Kubernetes blue, can be changed */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}
.copy-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

/* Base styles are already defined, continue with those and add responsive tweaks */

/* Responsive Styles for Mobile Devices */
@media (max-width: 768px) {
  html, body {
      background-size: cover; /* Ensures the background covers the viewport */
  }

  #star-pattern {
      background-size: 20%; /* Increase the size for better visibility on smaller screens */
      min-width: 100%; /* Adjust width to prevent horizontal scrolling */
  }

  #stripe-container {
      min-width: 100%; /* Adjust width to prevent horizontal scrolling */
      height: 40vh; /* Increase height for visibility */
      clip-path: none; /* Simplify design on smaller screens */
      background-color: rgb(var(--stripe-primary-rgb));
  }

  header, main, footer, section, nav, article {
      position: relative; /* Stays the same */
      z-index: 10; /* Stays the same */
  }

  header {
      padding: 0.8rem; /* Slightly reduce padding */
  }

  nav ul li {
      display: block; /* Stack navigation items vertically */
      margin: 0; /* Remove horizontal margin */
  }

  nav ul li a {
      display: block; /* Make links block to fill the horizontal space */
      padding: 10px; /* Increase padding for easier tapping */
  }

  main {
      width: 95%; /* Increase width to use more of the screen */
      margin: 10px auto; /* Reduce vertical margin */
      padding: 15px; /* Slightly reduce padding */
  }

  article {
      margin-bottom: 15px; /* Slightly reduce margin between articles */
  }

  form {
      padding: 15px; /* Slightly reduce padding */
  }

  input[type="text"], input[type="email"], textarea {
      padding: 10px; /* Increase padding for better touch interaction */
  }

  button {
      padding: 12px 24px; /* Increase padding for a larger clickable area */
  }
  .copy-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}
}


/* Consider adding more breakpoints for other screen sizes, e.g., for large desktops or tablets */

/* End of CSS */
