{% extends 'base.html' %}

{% block page_title %}Contact{% endblock %}
{% block header_title %}Welcome to My Kubernetes Blog{% endblock %}

{% block content %}
<section class="team">
    <div class="team-member">
        <!-- <img src="images/jose-angel-morena.jpg" alt="Jose Angel Morena" style="width: 200px; height: auto;"> -->
        <h3><a href="https://www.linkedin.com/in/jose-angel-morena-simon/" style="text-decoration:none;" target="_blank">Jose Angel Morena  </a></h3>
        <p>Jose Angel Morena, a Site Reliability Engineer with a focus on containers, automation, and open-source tech. I believe in keeping things simple yet effective, aiming for solutions that are easy to use and manage, efficient, and scalable.</p>
    </div>
    <br>
    <div class="team-member">
        <!-- <img src="images/alex-carnesecchi.jpg" alt="Alex Carnesecchi" style="width: 200px; height: auto;"> -->
        <h3><a href="https://www.linkedin.com/in/alex-carnesecchi-miravitllas/" style="text-decoration:none;" target="_blank">Alex Carnesecchi  </a></h3>
        <p>Alex Carnesecchi, currently working as a DevOps engineer As a DevOps Engineer, specializes in containerization and automation technologies, demonstrating a robust commitment to continuous learning and professional development in the dynamic IT industry.</p>
    </div>
</section>
{% endblock %}