{% extends 'base.html' %}

{% block page_title %}{{ title }}{% endblock %}
{% block header_title %}{{ title }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="css/pygments.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/monokai-sublime.min.css">
{% endblock %}

{% block content %}
<article>
    <h2>{{ title }}</h2>
    <p><i>Published on: {{ date }} by {{ author }}</i></p>
    <br>
    {{ content | safe }}
</article>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<script>
    function copyToClipboard(button) {
        const pre = button.nextSibling;
        const code = pre.innerText || pre.textContent;
        const textarea = document.createElement('textarea');
        textarea.value = code;
        document.body.appendChild(textarea);
        textarea.select();
        document.execCommand('copy');
        textarea.remove();
        // Change button text to "Copied!" and then revert after 2 seconds
        button.textContent = 'Copied!';
        setTimeout(() => {
            button.textContent = 'Copy';
        }, 2000);
    }
    </script>
{% endblock %}