<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="In-depth guides and tutorials on Kubernetes">
    <meta name="keywords" content="Kubernetes, Containers, Docker, DevOps, Cloud Computing, Orchestration">
    <meta name="author" content="Kubernetes Today">
    <title>Kubernetes Today</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/kubernetes/kubernetes/5ec31e84d6c525c173906b1497ee6f075c1926e9/logo/logo.svg">
    <!-- Dynamic insertion for additional CSS or JS -->
    {% block extra_css %}{% endblock %}
    {% block extra_js %}{% endblock %}
</head>
<body>
    <div id="app">
        <div id="star-container">
            <div id="star-pattern"></div>
            <div id="star-gradient-overlay"></div>
            <header>
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="tags.html">Articles</a></li>
                        <li><a href="about.html">About us</a></li>
                    </ul>
                </nav>
                <h1>{{ header_title }}</h1>
            </header>
            <main>
                {% block content %}
                <!-- Dynamic content goes here -->
                {% endblock %}
            </main>

        </div>
    </div>
    <!-- Place for additional scripts if needed -->
    {% block scripts %}{% endblock %}
</body>
</html>
