{% extends 'base.html' %}

{% block content %}
<section>
    <h2>Welcome to Kubernetes Today!</h2>
    <div style="margin-top: 16px;"></div>
    <p>Hello fellow Kubernetes enthusiasts and newcomers alike! We are Josel Angel Morena and Alex Carnesecchi, and we are thrilled to share our journey and passion for Kubernetes with you through this blog.</p>
    <div style="margin-top: 16px;"></div>
    <p>Whether you are a developer, a system admin, or simply curious about tech, this blog will serve as your gateway to understanding Kubernetes from the ground up. We'll explore everything from basic concepts to advanced deployment strategies and best practices.</p>
    <div style="margin-top: 16px;"></div>
    <p>Join us as we delve into the world of containers, clusters, and configurations. Let’s demystify Kubernetes together and harness its power to create robust, scalable, and efficient applications.</p>
    <div style="margin-top: 16px;"></div>
    <p>To easily navigate through our content, click on Articles in the upper tabs and select any of the tags you see around the blog. Each tag leads to a collection of related posts, allowing you to dive deep into specific topics of interest at your own pace.</p>
</section>

{% endblock %}
<footer>
    <p>&copy; Click on tags to view all the content</p>
</footer>