{% extends 'base.html' %}

{% block page_title %}{{ category }}{% endblock %}
{% block header_title %}Articles in "{{ category }}" Category{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="css/pygments.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/monokai-sublime.min.css">
<style>
    ul.article-list {
        list-style-type: none;
        padding: 0;
    }
    ul.article-list li {
        padding: 10px;
        margin: 5px 0;
        border-bottom: 1px solid #ccc;
    }
    ul.article-list li:last-child {
        border-bottom: none;
    }
    ul.article-list li a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }
    ul.article-list li a:hover {
        color: #007BFF;
    }
    .no-articles {
        color: #999;
        font-style: italic;
    }
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .meta {
        display: flex;
        align-items: center;
    }

    .author {
        font-style: italic;
        color: #555;
    }
</style>
{% endblock %}

{% block content %}
<section>
    <h2>{{ tag }}</h2>
    {% if articles %}
        <ul class="article-list">
            {% for article in articles %}
            <li>
                <div class="content">
                  <a href="{{ article['filename'].replace('.md', '.html') }}">{{ article['title'] }}</a>
                  <div class="meta">
                    <span class="author">by {{ article['author'] }} on {{ article['date'] }}</span>
                  </div>
                </div>
              </li>              
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-articles">No articles found in this category.</p>
    {% endif %}
</section>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
{% endblock %}