{% extends 'base.html' %}


{% block extra_css %}
<link rel="stylesheet" href="css/pygments.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/monokai-sublime.min.css">
<style>
    .tag-cloud {
        padding: 0;
        text-align: center;
    }
    .tag-cloud a {
        display: inline-block;
        margin: 2px 5px;
        text-decoration: none;
        color: #336699; /* A moderate blue shade */
        font-weight: bold;
        transition: color 0.3s;
    }
    .tag-cloud a:hover {
        color: #002ab3; /* A deeper blue for hover */
    }
    .no-articles {
        color: #999;
        font-style: italic;
    }
</style>
{% endblock %}

{% block content %}
<section>
    <div class="tag-cloud">
    {% for tag, size in tags_and_sizes.items() %}
        <a href="{{ tag | replace(' ', '-') | lower }}.html" style="font-size: {{ size }}px;">{{ tag }}</a>
    {% endfor %}
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
{% endblock %}
</html>